parameters:
    level: 5
    paths:
        - src
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::useAttributeAsKey\(\)\.#'

        # known bug of phpstan
        - "#Class Lcobucci\\\\JWT\\\\Token\\\\Builder not found\\.#"
        - "#Instantiated class Lcobucci\\\\JWT\\\\Token\\\\Builder not found\\.#"
        - "#Instantiated class Lcobucci\\\\Jose\\\\Parsing\\\\Parser not found\\.#"
