parameters:
    level: 5
    paths:
        - src
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
        - '#Class Symfony\\Component\\Config\\Definition\\Builder\\TreeBuilder constructor invoked with 0 parameters, 1-3 required.#'
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\TreeBuilder::root\(\)\.#'
