parameters:
    level: 5
    paths:
        - src
    inferPrivatePropertyTypeFromConstructor: true
    excludePaths:
        # bc flysystem
        - src/Filesystem/FilesystemInterface.php
        - src/Filesystem/FilesystemDecorator.php
        - src/Filesystem/AbstractFilesystemDecorator.php
    ignoreErrors:
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::useAttributeAsKey\(\)\.#'

        # known bug of phpstan
        - "#Cannot cast Lcobucci\\\\JWT\\\\Token\\\\Plain to string\\.#"
        - "#Parameter \\#1 \\$issuedAt of method Lcobucci\\\\JWT\\\\Builder::issuedAt\\(\\) expects DateTimeImmutable, int given\\.#"
        - "#Parameter \\#1 \\$expiration of method Lcobucci\\\\JWT\\\\Builder::expiresAt\\(\\) expects DateTimeImmutable, int given\\.#"
        - "#Cannot instantiate interface Lcobucci\\\\JWT\\\\Builder\\.#"
        - "#Cannot instantiate interface Lcobucci\\\\JWT\\\\Signer\\\\Key\\.#"
