<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.8/phpunit.xsd"
         backupGlobals="true"
         colors="true"
         bootstrap="features/bootstrap.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <env name="APP_ENV" value="embedded" />
        <env name="APP_DEBUG" value="false" />
        <env name="KERNEL_DIR" value="features/" />
        <env name="KERNEL_CLASS" value="Kernel" />
        <env name="DOCUSIGN_INTEGRATION_KEY" value="530dcf4b-3725-40a1-93f1-651a124c043d" />
        <env name="DOCUSIGN_USER_GUID" value="cc547250-9432-4708-89f2-b4563cc727f6" />
        <env name="DOCUSIGN_ACCOUNT_ID" value="8560457" />
        <server name="PANTHER_WEB_SERVER_DIR" value="./features/public/" />
        <server name="PANTHER_NO_SANDBOX" value="1" />
        <server name="PANTHER_CHROME_ARGUMENTS" value="--remote-debugging-port=9222" />
    </php>

    <testsuites>
        <testsuite name="Docusign bundle Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>
