<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.8/phpunit.xsd"
         backupGlobals="true"
         colors="true"
         bootstrap="features/bootstrap.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <env name="APP_ENV" value="test" />
        <env name="APP_DEBUG" value="false" />
        <env name="KERNEL_DIR" value="features/" />
        <env name="KERNEL_CLASS" value="Kernel" />
        <env name="DOCUSIGN_INTEGRATION_KEY" value="c3b2d475-2cbd-47f5-a903-9b3aa0fefe5b" />
        <env name="DOCUSIGN_USER_GUID" value="4003ab5e-c21f-4738-9469-e7d736e10b90" />
        <env name="DOCUSIGN_ACCOUNT_ID" value="1234567" />
        <server name="PANTHER_WEB_SERVER_DIR" value="./features/public/" />
        <server name="PANTHER_NO_SANDBOX" value="1" />
    </php>

    <testsuites>
        <testsuite name="Docusign bundle Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>

    <extensions>
        <extension class="Symfony\Component\Panther\ServerExtension" />
    </extensions>
</phpunit>
