<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.8/phpunit.xsd"
         backupGlobals="true"
         colors="true"
         bootstrap="features/bootstrap.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <env name="APP_ENV" value="embedded" />
        <env name="APP_DEBUG" value="false" />
        <env name="KERNEL_DIR" value="features/" />
        <env name="KERNEL_CLASS" value="Kernel" />
        <env name="DOCUSIGN_INTEGRATION_KEY" value="861088ec-596e-4193-8761-c450ffe75dd8" />
        <env name="DOCUSIGN_USER_GUID" value="fc912c03-bcfc-4685-9901-059c56fd9a67" />
        <env name="DOCUSIGN_ACCOUNT_ID" value="1234567" />
        <server name="PANTHER_WEB_SERVER_DIR" value="./features/public/" />
        <server name="PANTHER_NO_SANDBOX" value="1" />
        <server name="PANTHER_CHROME_ARGUMENTS" value="--remote-debugging-port=9222" />
    </php>

    <testsuites>
        <testsuite name="Docusign bundle Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>
