{% extends 'base.html.twig' %}

{% block title %}Welcome to the DocuSign TestBundle{% endblock %}

{% block content %}
    <ul>
        <li><a href="{{ path('embedded') }}">Embedded mode</a></li>
        <li><a href="{{ path('remote') }}">Remote mode</a></li>
    </ul>
{% endblock %}
